section.about{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    padding: 6rem 5rem 5rem 5rem;
    color: white;
}


.about h1{
    font-size: xx-large;
    color: #333;
}

.about p{
    width: 90%;
    text-align: left;
    line-height: 1.8;
    color: #333;
    font-size: 18px;
}

.about p b{
    color: #333;
}

.download-resume{
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 13px 16px;
    border-radius: 8px;
    font-weight: bold;
    align-self: first baseline;
    margin-top: 1rem;

}

.download-resume:hover{
    box-shadow: 30px 0 0px 0 #333;
    border: 2px solid #666;
}

.download-resume-btn{
    align-self: first baseline;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s ease-in-out;
}


@media (max-width:768px) {
    section.about{
        padding: 6rem 2rem 3rem 2rem;
    }

    section.about h1{
        font-size: 28px;
    }

    .about p{
        text-align: justify;
        hyphens: auto;
        width: 100%;
        font-size: 16px;
    }
    
}