section.about{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    padding: 0 5rem 5rem 5rem;
    padding-top: 3rem;
    color: white;
}


.about h1{
    font-size: xx-large;
    color: #333;
    animation: fadeIn 1s ease-in;
    animation-timeline: scroll();
    animation-range: 0vh 70vh;
}

.about p{
    width: 90%;
    text-align: left;
    line-height: 1.8;
    color: #333;
    font-size: 18px;
}

.about p b{
    color: #333;
}

.download-resume{
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 13px 16px;
    border-radius: 8px;
    font-weight: bold;
    align-self: first baseline;
    margin-top: 1rem;

}

.download-resume:hover{
    box-shadow: 30px 0 0px 0 #333;
    border: 2px solid #666;
}

.download-resume-btn{
    align-self: first baseline;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s ease-in-out;
}

.fa

@media (max-width:768px) {
    section.about{
        padding: 2rem 2rem 3rem 2rem;
    }

    .about p{
        text-align: left;
        hyphens: auto;
        text-wrap: balance;
        width: 100%;
    }
    
}